---
import BaseHead from '../components/BaseHead.astro';
import BaseLayout from '../components/BaseLayout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import GnistaLogo from '../assets/gnista-transparent.svg';
import ProfileOlle from '../assets/pic-olle.jpg';
---

<html lang="en">
	<head>
		<BaseHead title="About Gnista Games" description="About Gnista Games"/>
	</head>
	<BaseLayout>
		<Header />
		<main>

			<div class="background-plate">
				<img class="gnista-logo" src={GnistaLogo.src}/>

				<p>
					Gnista Games is a self-funded and fully independent game development studio established in 2025 in Gothenburg, Sweden.
				</p>

				<div class="profile-entry">
					<img src={ProfileOlle.src}/>
					<div class="profile-contents">
						<h3 style="margin: 0 0 0 0;" >Olle Håkansson</h3>
						<p>
							Indie gamedev with 20+ years of experience in everything related to game development. Previously worked as Game Director at Image & Form for games like SteamWorld Dig 1 & 2, SteamWorld Heist 1 & 2.
						</p>
						<a href="mailto:olle@gnista.net">
							olle@gnista.net
						</a>
					</p>
				</div>
			</div>
		</main>
		<Footer />
	</BaseLayout>
</html>

<style>
	.background-plate {
		max-width: 550px;
		text-align: center;
		background-color: black;
		border-radius: 60px;
		padding: 3em;
	}
	.background-plate p {
		 margin-bottom: 2em;
	}
	.profile-entry {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		gap: 30px;
		text-align: left;
		font-size: 14px;
	}
	.profile-entry p {
		margin: 0.5em 0 0.5em;
		text-align: left;
	}
	@media (max-width: 650px) {
		.profile-entry {
			flex-direction: column;
			text-align: center;
			align-items: center;
		}
		.profile-entry p {
			text-align: center;
		}
	}
	.profile-entry img {
		width: 175px;
		height: 175px;
	}
	.profile-contents {
		display: flex;
		flex-direction: column;
	}
	.gnista-logo {
		max-width: 70%;
	}
	@media (max-width: 650px) {
		.gnista-logo {
			max-width: 100%;
		}
	}
</style>
