---
import BaseHead from '../components/BaseHead.astro';
import BaseLayout from '../components/BaseLayout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import MysticoreLogo from '../assets/mysticore-logo.svg';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<BaseLayout>
		<Header />
		<main>
			<img class="mysticore-logo" src={MysticoreLogo.src}>
			<p>
				Mysticore is a survival strategy game for 1-4 players. Explore the shattered realms, build your base and defend it against massive enemy waves - all while leaving the busywork to your gnomes.
			</p>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/admh2IM7aQI?si=4-HtMHCn3ZcWkfqu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			<p>
				TODO STEAM LINK
			</p>
			<a class="press-kit-link" href="https://drive.google.com/drive/folders/17neYlnZ6F3RPQPJxSimPbFi2LehoUxWc?usp=drive_link">[Press Kit]</a>
		</main>
		<Footer />
	</BaseLayout>
</html>
