---
const { href, icon, sr, size=35, ...props } = Astro.props;
---

<a href={href} class="round-button" target="_blank" style={`width: ${size}px;`} {...props}>
	<span class="sr-only">{sr}</span>
	<img class="round-button-icon" src={icon}>
</a>

<style>
	.round-button {
		display: flex;
		justify-content: center;
		padding: 0.0em;
		background-color: var(--round-button-background);
		border-radius: 50%;
		aspect-ratio: 1;
	}
</style>